<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if user_signed_in? %>
  <p>Usuário Está logado / <%= current_user.email %> </p>
  
<% else %>
  <p>Usuário Não está logado</p>
<% end %>